body{
	font-family: 'Nunito', sans-serif;
	background: rgb(177, 82, 19)
}

.inapp{
	font-family: sans-serif;
	background: #fdfdfd;
}
 
.muka{
	background: url(src/bg2.png)
}

.welcome{
	margin: 295px 469px;
}

h1{
	text-align: center;
	/*ketebalan font*/
	font-weight: 500;
	color: #ffffff
}

h3{
	text-align: center;
	font-weight: 100;
}

h4{
	text-align: center;
	font-weight: 100;
	color: #8d8d8d
}

.judul-form {
	margin: 87px;
	font-size: 16pt;
	text-transform: uppercase;
}
 
.tulisan_login{
	text-align: center;
	/*membuat semua huruf menjadi kapital*/
	text-transform: uppercase;
	font-family: 'Nunito', sans-serif;
	font-size: 20pt	
}
 
.kotak{
	width: 350px;
	background: rgb(46, 46, 46);
	/*meletakkan form ke tengah*/
	margin: 40px auto;
	padding: 30px 20px;
}
 
label{
	font-family: 'Nunito', sans-serif;
	font-size: 12pt;
	color: white
}
 
.form_login{
	/*membuat lebar form penuh*/
	box-sizing : border-box;
	width: 100%;
	padding: 10px;
	font-size: 11pt;
	margin-bottom: 20px;
}
 
.tombol_login{
	background: #46de4b;
	color: white;
	font-size: 11pt;
	width: 100%;
	border: none;
	border-radius: 3px;
	padding: 10px 20px;
}

.tombol_regist{
	background: #2C97DF;
	color: white;
	font-size: 11pt;
	width: 100%;
	border: none;
	border-radius: 3px;
	padding: 10px 20px;
}

.link{
	color: #636161;
	text-decoration: none;
	font-size: 12pt;
}

.tombol{
	width: 100%;
	background:rgb(245, 155, 21);
	color:white;
	border-top:0;
	border-left:0;
	border-right:0;
	border-bottom:5px solid rgb(187, 120, 19);
	padding: 11px 25px;
	text-decoration:none;
	font-family:sans-serif;
	font-size: 18pt;
	margin: 19px;
}

#outtable{
	padding: 20px;
	border:1px solid #e3e3e3;
	width:600px;
	border-radius: 5px;
}

.short{
	width: 50px;
}

.normal{
	width: 150px;
}

.btn-light {
	background-color: transparent;
	border-color: rgba(204, 204, 204, 0);
  }

.col-md-8{
	margin: 20px;
}

.struk{
	width: 300px;
}

.table > tbody > tr > .thick-line {
    border-top: 2px solid;
}

.kdbayar {
    color: #46de4b;
}

.awal{
	margin: 10px;
	width: 100px;
}
